/* Importing some fonts from googlefonts website */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Creepster&family=Righteous&display=swap');

:root{
  /* Declaring variables to use throughout CSS file */
  --backgroundColorBLACK: black;
  --buttonColorWHITE: #fffffe;
  --buttonTextRED: #e53134;
  --buttonTextFONT: "Creepster";
  --bodyTextFONT: "Cinzel";
  --navbarHeight: 12dvh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--navbarHeight);

  background: linear-gradient(0.25turn, #870000, black, black);
}

.nav-btn{
  margin: 10px 50px;

  color: var(--buttonColorWHITE);

  font-family: var(--buttonTextFONT), sans-serif;
  font-size: 2.5rem;
  text-decoration: none;

  transition: ease-in-out .2s;
}

.nav-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nav-btn:active{
  opacity: .8;
}

.home-page-content-container{
  display: flex;

  min-height: 88dvh;

  background: linear-gradient(0.25turn, #870000, black, black);
}

.take-quiz-btn-container{
  width: 50%;
}

.take-quiz-btn-container h1{
  padding: 70px 90px 90px 90px;

  font-family: var(--bodyTextFONT), sans-serif;
  font-size: 2rem;
  color: var(--buttonColorWHITE);
}

.take-quiz-btn-container p{
  padding: 0px 90px 90px 90px;
  
  font-family: "Cinzel", sans-serif;
  font-size: 1.7rem;
  color: var(--buttonColorWHITE);
}

.take-quiz-btn{
  height: 90px;
  width: 300px;
  
  border: none;
  border-radius: 150px;
  margin: 0px 175px 20px 175px;

  font-size: 3.5rem;

  background-color: rgb(229, 49, 52, .4);
  color: var(--buttonColorWHITE);
  text-shadow: 3px 3px var(--backgroundColorBLACK);
  box-shadow: 10px 3px rgb(0, 0, 0, .3);
}

.vampire-quiz-gif-container{
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vampire-quiz-gif-container img{
  height: 600px;
  padding-bottom: 50px;
}

/* Media quieries to make homepage responsive for different devices*/
@media(min-width: 2560px){
  .take-quiz-btn-container h1{
    font-size: 2.7rem;
    margin-bottom: 200px;
  }

  .take-quiz-btn-container p{
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .vampire-quiz-gif-container img{
    height: 800px;
    padding-bottom: 50px;
  }
}

/*Monitor*/
@media(min-width: 1920px){
  .take-quiz-btn-container h1{
    font-size: 2.7rem;
    margin-bottom: 50px;
  }

  .take-quiz-btn-container p{
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .vampire-quiz-gif-container img{
    height: 800px;
    padding-bottom: 50px;
  }
}

/*Tablets*/
@media(max-width: 1024px){
  .vampire-quiz-gif-container{
    display: none;
  }

  .take-quiz-btn-container{
    width: inherit;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .take-quiz-btn-container h1{
    margin-top: -200px;

    font-size: 2.5rem;
  }

  .take-quiz-btn-container p{
    font-size: 2rem;
  }
}

@media(max-width: 540px){
  .nav-btn{
    margin: 10px 20px;
    font-size: 1.5rem;
  }

  .take-quiz-btn-container h1{
    padding: 150px 0px 60px 0px;
    
    font-size: 1.3rem;
  }

  .take-quiz-btn-container p{
    padding: 0px 60px 60px 60px;

    font-size: 1.3rem;
  }

  .take-quiz-btn{
    height: 70px;
    width: 200px;
  }
}

/*Mobile*/
@media(max-width: 430px){
  .nav-btn{
    margin: 10px 20px;
    font-size: 1.5rem;
  }

  .take-quiz-btn-container h1{
    padding: 150px 0px 60px 0px;
    
    font-size: 1.3rem;
  }

  .take-quiz-btn-container p{
    padding: 0px 60px 60px 60px;

    font-size: 1.3rem;
  }

  .take-quiz-btn{
    height: 70px;
    width: 200px;
  }
}

